.font_family {
  font-family: "Noto Sans SC" !important;
}
html{
  overflow-x: hidden;
}
body * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Noto Sans SC" !important;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  /* 消除鋸齒 */
  -webkit-font-smoothing: antialiased;
  /* overflow: hidden; */
}
a{
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
}
ul{
  list-style: none;
}
.img_fit {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img_fit_w {
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
}
.img_contain {
  height: 100%;
  object-fit: contain;
}
.img_contain_w {
  width: 100%;
  object-fit: contain;
}
.img_fluid {
  max-width: 100%;
  height: auto;
}
.white_space {
  white-space: nowrap;
}
.transition {
  transition: 0.4s ease;
}
/* ---------------------------------------------------------- */
/* font size*/
.bold {
  font-weight: bold;
}
.font1,
h1 {
  font-size: 3rem;
  font-weight: bold;
}
.font2,
h2 {
  font-size: 1.75rem;
  font-weight: bold;
}
.font3,
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.font4,
h4 {
  font-size: 1.125rem;
}
.font5,
h5 {
  font-size: 1rem;
}
.font6,
h6 {
  font-size: 0.875rem;
}
.font7 {
  font-size: 0.75rem;
  font-weight: 200;
}
@media screen and (max-width: 768px) {
  .font1,
  h1 {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .font2,
  h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .font3,
  h3 {
    font-size: 1.2rem;
  }
  .font4,
  h4 {
    font-size: 1rem;
  }
  .font5,
  h5 {
    font-size: 0.75rem;
  }
  .font6,
  h6 {
    font-size: 0.75rem;
  }
  .font7 {
    font-size: 0.5rem;
    font-weight: 100;
    letter-spacing: 1px;
  }
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* color */
.black {
  color: #000000;
}
.bg_black {
  background-color: #000000;
}
.white {
  color: #ffffff;
}
.bg_white {
  background-color: #ffffff;
}
.red {
  color: #b21703;
}
.bg_red {
  background-color: #b21703;
}
.gray {
  color: #919ba5;
}
.yellow {
  color: #ffc341;
}

/* ---------------------------------------------------------- */
.mobile{
  display: none !important;
}
.web{
  display:block ;
}
@media screen and (max-width: 1024px){
  .web{
    display: none!important;
  }
  .mobile{
    display:block !important;
  }
}
/* ---------------------------------------------------------- */
