body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline; */
    box-sizing: border-box;
    /* 消除鋸齒 */
    -webkit-font-smoothing: antialiased;
    font-family:  "Microsoft YaHei","Noto Sans SC";
  }
  .img_fit {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img_fit_w {
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
}
.img_contain{
    height: 100%;
    object-fit: contain;
}
.img_contain_w{
  width: 100%;
  object-fit: contain;
}
.white_space{
    white-space: nowrap;
}
/* ---------------------------------------------------------- */
/* color */
.black {
    color: #000000;
  }
  .bg_black {
    background-color: #000000;
  }
  .white {
    color: #ffffff;
  }
  .bg_white {
    background-color: #ffffff;
  }
  .red {
    color: #b21703;
  }
  .bg_red {
    background-color: #b21703;
  }
  .gray {
    color: #919ba5;
  }
  .yellow {
    color: #ffc341;
  }
  
  /* ---------------------------------------------------------- */
  .wrapper{
    margin: 0 auto;
    /* padding: 0 2.5vw; */
    /* min-width: 800px; */
  }
/* ---------------------------------------------------------- */
#top {
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    position: relative;
}
.headnav{
    height: 10%;
    width: 100%;
    /* background-color: rgba(165, 42, 42, 0.233); */
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
}
.logo{
    /* width: 10rem; */
    /* height: 5rem; */
    margin: 0.5rem;
}
.navbar{
    /* background-color: burlywood; */
    /* width: 40%; */
    /* margin:auto 1rem; */
    padding-left: 0;
    padding-right: 1rem;
    display: flex;
}
.topnav{
    list-style:none;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}
ul.topnav li{
    /* flex: 1; */
    /* min-width: 0; */
    /* white-space: nowrap; */
    padding: 1rem;
    font-size: .8rem;
    border: 1px solid cornflowerblue;
}
ul.topnav li span{
    width: 20%;
}
#myVideo{
   width: 100%;
   height: 100%;
}
.bg_video{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* ---------------------------------------------------------- */

section{
    width: 100%;
    /* height: 100vh; */
    /* height: auto; */
    position: relative;
}
.headline{
  height: 3rem;
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
  position: absolute;
  top: 1.5rem;
}
.title{
    font-size: 2rem;
    font-weight: 500;
    margin:0 2rem 0 1rem;
}
.subtitle{
    font-size: 1rem;
}
/* ---------------------------------------------------------- */
#games{
  background: no-repeat url("/images/index_sention2.png");
  background-position: center;
  background-size: contain;
}

#efficient{
  z-index: 100;
}
#contact{
  /* position: absolute; */
  bottom: 0;
  z-index: 99;
}
#contact .headline{
  /* position: absolute;
  bottom: 0;
  z-index: 998; */
}